<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div style="background-color: #e2e8f0; font-family: Arial, sans-serif;">
    <div style="margin: auto; display: block; width: 100%; max-width: 42rem;">
        <!-- Imagen inicial -->
        <div style="max-width: 100%; background-color: #f2999b; padding: 0.75rem;">
            <img style="margin: auto; display:block; width: 7rem;" src="https://floreriaenvios.com/public/logotipo.png">
        </div>
        <!-- Imagen inicial -->

        <!-- Contenido principal -->
        <div style="max-width: 100%; background-color: #ffffff; padding: 5%;">
            <h1 style="font-weight: bold; font-size: 1.25rem;">¡Te damos la bienvenida a FloreriaEnvios!</h1>
            <p>Termina tu registro.</p>
            <p>
                Para iniciar como usuario de nuestra plataforma necesitas activar tu perfil. Haz click en el siguiente
                botón para verificar tu correo, o bien copia y pega el enlace en tu navegador web.
            </p>

            <div style="width: 100%; margin: auto; display: block; text-align: center;">
                <a type="button"
                   href="https://floreriaenvios.com/usuarios/verification/{{ data.uuid }}/{{ data.code }}"
                   target="_blank"
                   style="width: 50%; color: white; background-color: #f2999b; border-radius: 0.5rem; font-size: 0.875rem; padding: 0.625rem 1.25rem; margin-bottom: 0.5rem;">
                    Activar cuenta
                </a>
                <p style="font-size: 0.875rem;">
                    <a style="color: #2563eb; text-decoration: underline;" href="">https://floreriaenvios.com/usuarios/verification/{{ data.uuid }}/{{ data.code }}</a>
                </p>
            </div>

            <p>Gracias por tu tiempo.</p>
            <p style="margin-bottom: 3.125rem;"><i>Atentamente:</i><br>Equipo de FloreriaEnvios</p>

        </div>
        <!-- Contenido principal -->

        <!-- Footer -->
        <div style="max-width: 100%; background-color: #475569; padding: 1.25rem; text-align: center; color: white;">
            <div>
                <h4 style="font-size: 1rem; font-weight: 600;">Soporte</h4>
                <p>
                    Comunícate con nosotros por los siguientes medios:<br>
                    Correo: <a style="color: #f2999b;" href="mailto:proyectos@pretwor.com">soporte@floreriaenvios.com</a><br>
                    Whatsapp: <a style="color: #f2999b;" href="https://wa.me/573224294332">+52 984 123 45 67</a><br>
                </p>
            </div>
            <p>
                &copy; FloreriaEnvios.com. Todos los derechos reservados.
            </p>
        </div>
        <!-- Footer -->
    </div>
</div>
</body>
</html>
