<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Correo para restablecer cuenta</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center" bgcolor="#fff" style="padding: 10px 0 10px 0;">
                <img src="http://74.208.251.17/tys/public/syitgov.jpg"
                    alt="Logo municipal" width="20%" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="1" cellpadding="0" cellspacing="0" width="100%">
                    <tr align="center">
                        <td><strong>Restablecer mi contraseña</strong></td>
                    </tr>
                </table>
                <table border="1" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td width="260" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr align="center">
                                    <td><strong>En la aplicación móvil</strong></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <img src="http://74.208.251.17/tys/public/movil.png" alt="" width="50%"
                                            height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 10px 0 0 0;">
                                        Si desea restablecer su contraseña por medio de la aplicación móvil, favor
                                        de iniciar sesión y proporcionar el siguiente código:
                                        {{data.restablecer_password}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="260" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr align="center">
                                    <td><strong>En la aplicación web</strong></td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <img src="http://74.208.251.17/tys/public/computadora.png" alt="" width="50%"
                                            height="140" style="display: block;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding: 10px 0 0 0;">
                                        Si desea restablecer su contraseña por medio de nuestra plataforma web, favor
                                        de entrar al siguiente enlace:
                                        <br>
                                        <a target="_blank"
                                            href="{{data.plataforma}}usuario/restablecer/{{data.restablecer_password}}">
                                            Restablecer contraseña
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#fff">
                <p align="center" style="color: #000;">
                    Av. 20 Norte entre Calles 8 y 10 Norte. Col. Centro.
                    <br>
                    Solidaridad. Q. Roo. C.P. 77710
                    <br>
                    Tel: (984) 877 3050
                    <br>
                    contacto@gobiernodesolidaridad.gob.mx
                </p>
            </td>
        </tr>
    </table>
</body>

</html>