<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Plantilla test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body style="margin: 0; padding: 0;">
    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center" bgcolor="#fff" style="padding: 40px 0 30px 0;">
                <img src="https://gusacapital.com/public/images/logomdpi.png" alt="Logo GUSA" width="100%"
                    style="display: block;" />
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="1" cellpadding="0" cellspacing="0" width="100%">
                    <tr align="center">
                        <td><strong>{{data.title}}</strong></td>
                    </tr>
                    <tr align="justify">
                        <td>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur, sunt eos eveniet error
                                a laboriosam illum quia praesentium quidem id illo assumenda quaerat. Perferendis
                                beatae, pariatur inventore ducimus rerum voluptas.</p>

                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur, doloribus impedit
                                culpa, exercitationem vero unde fuga ex modi explicabo commodi, tempore maiores. Maiores
                                explicabo voluptate magnam quaerat dolores velit totam.</p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#155476">
                <p align="center" style="color: #fff;">
                    Teléfono: 984 206 53 30
                </p>
                <p align="center" style="color: #fff;">
                    LADA gratuita México: 01 800 839 2018Solidaridad. Q. Roo. C.P. 77710
                </p>
                <p align="center" style="color: #fff;">
                    Toll Free USA/Canada: 1 866 207 4925
                </p>
                <p align="center" style="color: #fff;">
                    Correo electrónico: info@gusacapital.com
                </p>
            </td>
        </tr>
    </table>
</body>

</html>